{% extends 'base.html' %}

{% block main %}
<style>
    .input_commentary{
        font-size: 13px;
        color: grey
    }
    #id_temperature_output{
        font-size: 20px;
        font-weight: bold;
    }
    input.form-control{
        width: 95%
    }
</style>
<form method="post">
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        Find Temperature For Location
      </div>
      <div class="card-body">
          <div class="form-row">
            <div class="col-6">
                <label>Latitude</label>
                <input value="{{ latitude }}" type="number" step="any" required class="form-control" placeholder="Latitude" name="latitude_input">
                <p class="input_commentary">Enter a latitude for a location</p>
            </div>
            <div class="col-6">
                <label>Longitude</label>
                <input value="{{ longitude }}" type="number" step="any" required class="form-control" placeholder="Longitude" name="longitude_input">
                <p class="input_commentary">Enter the longitude for a location</p>
            </div>
          </div>
            <button type="submit" class="btn btn-primary">Show Temperature</button>
      </div>
    </div>

    {% if error %}
    <div class="alert alert-danger mt-5" role="alert">
      Code: {{ code }}! {{ error }}
    </div>
    {% endif %}

    {% if temperature_output %}
    <div class="card mt-5">
        <div class="card-body">
            Temperature For <i>{{ latitude }}, {{ longitude }}</i> is currently <span id="id_temperature_output">{{ temperature_output }}°C</span>
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}