{% extends 'base.html' %}

{% block main %}
<style>
    .input_commentary{
        font-size: 13px;
        color: grey
    }
</style>
<form method="post">
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        Find Temperature For Location
      </div>
      <div class="card-body">
          <div class="form-row">
            <div class="col-12">
                <label>Location</label>
                <input value="{{ location }}" type="text" required class="form-control" placeholder="Location" name="location_input">
                <p class="input_commentary">You can enter eny type of content, such as name of the city or zipcode.</p>
            </div>
          </div>
            <button type="submit" class="btn btn-primary">Show Temperature</button>
      </div>
    </div>

    {% if error %}
    <div class="alert alert-danger mt-5" role="alert">
      {{ error }}
    </div>
    {% endif %}

    {% if temperature_list_output %}
    <div class="card mt-5">
        <div class="card-header">
            Forecast For <i>{{ city }} - {{ state }}</i>
        </div>
        <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Temperature</th>
                {% for key, value in temperature_list_output.items %}
                    <th scope="col">{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Average</th>
                {% for key, value in temperature_list_output.items %}
                    <td>{{ value }} °C</td>
                {% endfor %}
            </tr>
            </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}